/* Colors */

html {
  background: #e2e2e2;
}
body {
  color: #666666;
}

/* Main wrappers */
div#page {
  background-color: #f5f5f5;
}
#header-wrapper {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#e7e7e7));
  background-image: -moz-linear-gradient(-90deg, #efefef, #e7e7e7);
  background-image: linear-gradient(-90deg, #efefef, #e7e7e7);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#efefef', endcolorstr='#e7e7e7')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#efefef,endcolorstr=#e7e7e7,GradientType=0);
}
#secondary-content-wrapper {
  background-color: #dddddd;
  color: #414141;
}
#secondary-content-wrapper a {
  color: #101010;
}
#secondary-content-wrapper .texture-overlay {
  border-bottom: 1px solid #fff;
}
#content-wrapper {
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
#quint-panels-wrapper {
  background-color: #e7e7e7;
  color: #555555;
  border-top: 1px solid #ffffff;
}
#page-footer{
  background-color: #202020;
}

#footer-panels-wrapper {
  color: #ababab;
  border-bottom: 1px solid #ffffff;
}
#footer-panels-wrapper a {
  color: #dedede;
}

#footer-wrapper {
  border-top: 1px solid #d5d5d5;
  background: #e2e2e2;
}
       
/* Links */
a:link,
a:visited,
a:active,
a.active,
li a.active {
  color: #3398ca;
}
a:hover,
a:focus {
  color: #3398ca;
}

/* Header */
#site-name a {
  color: #111111;
}
#site-slogan {
  color: #333333;
}

.region-header .block a,
.region-header .block-menu a,
.region-header .block .item-list a {}
.region-header #block-user-login label,
.region-header #search-block-form .form-submit {}

/* Menu bar */
#menu-bar {
  background: #212121;
}
.nav ul li a,
.nav ul li a:hover,
.nav ul li a:focus,
.nav  ul li a:active {
  color: #fcfcfc;
}

.nav ul li a.active,
.nav ul li.active-trail a {}

.nav ul ul {
  background: #212121;
  opacity: .95;
}

/* Superfish Skin */
.sf-menu a {
  border: 0;
}

.sf-navbar.sf-style-none {}

.sf-menu.sf-style-none li {}
.sf-menu.sf-style-none li a {}

.sf-menu.sf-style-none li li {}
.sf-menu.sf-style-none li li li {}

.sf-menu.sf-style-none li:hover,
.sf-menu.sf-style-none li.sfHover,
.sf-menu.sf-style-none li.active a {}

.sf-menu.sf-style-none li a:focus,
.sf-menu.sf-style-none li a:hover,
.sf-menu.sf-style-none li a:active {}

.sf-menu.sf-style-none li li:hover,
.sf-menu.sf-style-none li li.sfHover,
.sf-menu.sf-style-none li li.active a {}

.sf-menu.sf-style-none li li a:focus,
.sf-menu.sf-style-none li li a:hover,
.sf-menu.sf-style-none li li a:active {}

/* book nav */
.book-navigation ul.menu,
.book-navigation .page-links {}

/* breadcrumb */
#breadcrumb-wrapper {}
#breadcrumb-wrapper a {}

/* footer */
#footer, {}
#footer a {}

/* blocks */
.sidebar .block-inner {}
.block-inner {}
.block-title {}
.block-content {}
.block ul li a {}

#main-content .block-content {}

#block-system-main {
  border-bottom: none;
}

.block .article,
.block .article-sticky {}

.block-menu a,
.block .item-list a {}

/* Poll */
.poll .bar {}
.poll .bar .foreground {}

/* articles */
.article-teaser.article-sticky {}
article header {
 border-bottom: 1px solid #dd5d5;
}

/* fields */
.field-type-image img {}

/* comments */
.comment-inner {
}

/* aggregator */
#aggregator .feed-source {}

/* forum */
#forum td.container {}
#forum thead, 
#forum tbody {}

/* Profile */
#profile .profile {}
#profile h2 {}
.profile h3 {
    border-bottom: 1px solid #d5d5d5;
}

/* Pager */
div.item-list ul.pager li a,
div.item-list ul.pager li a:hover,
div.item-list ul.pager li a:focus,
div.item-list ul.pager li a:active {
}

/* Local task tabs */
ul.primary {
  border-bottom: 1px solid #d5d5d5;
}
ul.primary li a,
ul.primary li a:hover {
  background: transparent;
}
ul.primary li a:hover,
ul.primary li a:focus,
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  background: transparent;
  color: #666666;
}

/* HTML elements */
blockquote {}
hr {}

/* Tables */
tr.even {}
tbody tr:nth-child(2n+1),
tr.odd {}

td, th {
 border-color: #d5d5d5;
}
tr.even, tr.odd {
  border-bottom: 1px solid #d5d5d5;
}
tbody {
  border-top: 1px solid #d5d5d5;
}

/* form */
input.form-text,
textarea {}
.form-submit {}
.form-submit:hover,
.form-submit:focus {}

input.form-text,
textarea,
select {
  border: 1px solid #d5d5d5;
  background-color: rgba(255, 255, 255, 0.6);
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
input.form-text:focus, textarea:focus {
  border-color: #007fff;
  outline: 0 none;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #007fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #007fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #007fff;
}
fieldset {
  border-color: #d5d5d5;
}
input[type="submit"] {
  border: 1px solid #e7e7e7;
  color: #333;
  background-color: #e7e7e7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7e7e7), to(#efefef));
  background-image: -moz-linear-gradient(-90deg, #e7e7e7, #efefef);
  background-image: linear-gradient(-90deg, #e7e7e7, #efefef);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#e7e7e7', endcolorstr='#efefef')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#e7e7e7,endcolorstr=#efefef,GradientType=0);
}
form.commerce-add-to-cart input {
  border: 1px solid #007100;
  color: #ffffff;
  background-color: #007100;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007100), to(#588e51));
  background-image: -moz-linear-gradient(-90deg, #007100, #588e51);
  background-image: linear-gradient(-90deg, #007100, #588e51);
  -ms-filter: "progid:dXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr='#007100', endcolorstr='#588e51')";
  filter: progid:dXImageTransform.Microsoft.gradient(enabled='true',startcolorstr=#007100,endcolorstr=#588e51,GradientType=0);
}

.content-display-grid article .article-inner {
  border: 5px solid #f5f5f5; /* page background color */
}
.content-display-grid article .article-inner:hover {
  border-width: 5px;
  border-style: solid;
  border-color: #d5d5d5;
}

#search-block-form input.form-text,
#search-block-form input::-webkit-input-placeholder,
#search-block-form input:-moz-placeholder {}

/* calendar styles */
.calendar-calendar div.date-nav {
  background-color: transparent;
  color: #b81d00;
}
.calendar-calendar div.date-nav a,
.calendar-calendar div.date-nav h3 {
  color: #b81d00;
}
.calendar-calendar td {
  color: #181818;
}
.calendar-calendar th {
  background-color: #fdfdff;
  color: #b81d00;
  border: 1px solid #d5d5d5;
}
.calendar-calendar th.days {
  background-color: #ffffff;
  color: #666666;
}
.calendar-calendar td .inner div.calendar div,
.calendar-calendar td .inner div.calendar div a,
.calendar-calendar td .inner div,
.calendar-calendar td .inner div a {
  background-color: #fdfdff;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #fdfdff;
}
.calendar-calendar td.calendar-agenda-hour,
.calendar-calendar td.calendar-agenda-items,
.calendar-calendar td.calendar-agenda-hour {
  border-color: #d5d5d5;
}
.view-content .calendar-calendar ul.inline li {
  border: 1px solid #d5d5d5;
}
#content .block .calendar-calendar .month-view table {
  border: 1px solid #d5d5d5;
}

/* Quicktabs */
.quicktabs-style-nostyle ul.quicktabs-tabs li a {}
.quicktabs-style-nostyle ul.quicktabs-tabs li a:hover,
.quicktabs-style-nostyle ul.quicktabs-tabs li a:focus,
.quicktabs-style-nostyle ul.quicktabs-tabs li.active a {}





